img#close-create-post {
    border-radius: 50%;
    background-color: #f0f2f5;
    padding: 3px;
    position:absolute;
    top: 10px;
    right: 10px;
}

img#close-create-post:hover {
    background-color: #e4e6e8;
    cursor: pointer;
  }

img#close-create-post:active {
    background-color: #d8d9dc;
    transform: scale(.9);
}

div.create-post-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow:column wrap;
    padding: 20px;
}

textarea#create-post {
    width: 97%;
    border-radius: 8px;
    border-color: #ced0d4;
    background-color: #f0f2f5;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    padding: 5px;
}

textarea#create-post:focus {
    outline: 1px solid #0766ff;
}

div.create-post-form h1{
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 20px;
    margin-top: 0;
}

div.create-post-form #post-button {
    border: none;
    background-color: #0766ff;
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
    cursor: pointer;
}

div.post-photo-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

div.post-photo-button {
    border: none;
    position:relative;
    background-color: #77a0e1;
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
    cursor: pointer;
    text-align: center;
    width: 88%;
}

input.upload-image{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    z-index: 3;
}

img#preview{
    width:330px;
    height: 200px;
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
    outline: 1px solid rgba(0, 0, 0, 0.248);
    position: relative;
}

img#remove-post-image{
    position: relative;
    bottom: 210px;
    left: 150px;
    background-color: white;
    border-radius: 50%;
    opacity: .7;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.251);
}

img#remove-post-image:hover{
    opacity: .8;
    transform: scale(1.05);
}

p.empty-body{
    color: red;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
}