
.profile-posts-container > * {
    margin-bottom: 15px;
}

.profile-posts-container ul{
    margin: 0;
    padding: 0;
}

.profile-posts-container li{
    list-style: none;
    margin: 15px 0;
    border-radius: 8px;
    padding:15px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    position: relative;
}

.post-author {
    display: flex;
    align-content: flex-start;
}

div.post-author-name {
    display: flex;
    flex-flow:column;
    width: 100%;
    margin-left: 10px;
}
div.post-author-name > div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
}

.post-author a {
    text-decoration: none;
    font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: black;
    letter-spacing: .2px;
}


div.post-author p {
    text-decoration: none;
    font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #65676b;
    margin: 0;
}
.arrow-icon{
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y6/r/iRdHi2-V_CL.png);
    background-position: 0px -718px;
    background-size: 26px 810px;
    width: 16px;
    height: 16px;
    filter:opacity(.5);
    background-repeat: no-repeat;
    display: inline-block;
    color: #0090d8;
  }

li > div.edit-post-icon {
    border-radius: 100px;
    position:absolute;
    right: 10px;
    top: 10px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

li > div.edit-post-icon:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

li > div.edit-post-icon:active {
    background-color: #d8d9dc;
}

div.post-body {
    margin: 10px 0;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

li > div.add-comment {
    height: 30px;
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;

}

div.add-comment img {
    transform: scale(.8);
}

div.add-comment > div.comment-input {
    width: 100%;
    height: 100%;
}
input.comment-input {
    border: none;
    width: 95%;
    height: 100%; 
    border-radius: 20px;
    background-color: #f0f2f5;
    text-align: left;
    margin-left: 10px;
    padding-left: 20px;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #656768;
    cursor: pointer;    
}

input.comment-input:hover {
    background-color: #e4e6e8;
}

input.comment-input:hover {
    background-color: #e4e6e8;
    outline: none;
}

.create-profile-post{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    padding:10px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    height: 40px;
    background-color: #ffffff;
}

.create-profile-post > button{
    border: none;
    width: 90%;
    height: 100%; 
    border-radius: 20px;
    background-color: #f0f2f5;
    text-align: left;
    padding-left: 20px;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #656768;
    cursor: pointer;    
}

.create-profile-post > button:hover {
    background-color: #e4e6e8;
  }

.create-profile-post > button:active {
    background-color: #d8d9dc;
}

img#userIcon  {
    width: 40px;
    height: 40px;
  }


  div.post-settings {
    width: 150px;
    border-radius: 8px;
    padding: 10px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column nowrap;
    background-color: #f8f8f8;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, .1)
  }


  div.post-settings > div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    border-radius: 8px;
    width: 80%;
    align-items: center;
    padding: 2px;
  }

  div.post-settings > div:hover {
    background-color: #f2f2f2;
    cursor: pointer;
  }
  
  div.post-settings > div:active {
    background-color: #e5e5e5;
  }

  div.post-settings button {
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 500;
    width: 80%;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 8px;
    background-color: inherit;
    display:flex;
    justify-content: flex-start;
    padding-left: 5px;
  }
 

  .edit-posts-icon{
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yH/r/vaAkJ-lmnYp.png);
    background-position: 0px -357px;
    background-size: auto;
    width: 25px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
  } 

  .delete-posts-icon{
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/BS4qBw3i0wj.png);
    background-position: 0px -1049px;
    background-size: auto;
    width: 25px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
  } 
