div.post-comment {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 15px 0 5px 3px;
}

div.post-comment img{
    width: 32px;
    height: 32px;
    border-radius: 100px;
    margin-right: 5px;
}

li#comment-body {
    display: flex;
    flex-flow:column nowrap;
    width: max-content;
    padding: 3px 6px;
    margin: 0 0 0 10px;
    background-color: #f0f2f5;
    font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: black;
}

div.post-comment:hover > div.comment-edit{
    display:flex;
}

li#comment-body > p{
    margin: 1px;
    padding: 1px;
}
li#comment-body > a{
    text-decoration: none;
    font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: black;
    font-weight: 600;
    letter-spacing: .2px;
}

div.comment-edit {
    /* display:none; */
    align-self: center;
    margin-left: 5px;
    border-radius: 100px;
    padding: 6px 8px;
    transform: scale(.8);
}

div.comment-edit:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}
  
div.comment-edit:active {
    background-color: #e5e5e5;
}

div.comment-edit-options{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-self: center;
    border-radius: 8px;
    width: 75px;
    align-items: center;
    padding: 5px;
    margin-left: 10px;
    background-color: #f8f8f8;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.221)
}

div.comment-edit-options > div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;
    justify-content: flex-start;
    justify-items: flex-start;
    border-radius: 8px;
    width: 100%;
}

div.comment-edit-options > div:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}
  
div.comment-edit-options > div:active {
    background-color: #e5e5e5;
}

div.comment-edit-options button{
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 500;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 8px;
    background-color: inherit;
    display:flex;
}

.delete-comment-icon{
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/BS4qBw3i0wj.png);
    background-position: 0px -1049px;
    background-size: auto;
    width: 25px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    transform: scale(.8);
  } 

  .edit-posts-icon#comments{
    transform: scale(.8);
  } 