div.signupButtonContainer{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

div.signupButtonContainer > button {
    background-color: #42b72a;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    font-weight: bold;
    line-height: 48px;
    padding: 0 16px;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    cursor: pointer;
}

div.signupButtonContainer > button:hover {
    background-color: #36a420;
}

img#closeSignUpForm{
    position:absolute;
    right: 10px;
    top: 10px;
}

div.signupContainer{
    height:100%;
    padding: 5px;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

div.signupHeaderContainer{
    display: relative;
    width: 400px;
    height: 65px;
    padding: 10px 16px;
    border-bottom: thin solid rgba(89, 88, 88, 0.265);
}

div.signupHeaderContainer > h1{
    color: #1c1e21;
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    font-size: 32px;
    line-height: 38px;
    margin-top: 0;
    margin-bottom: 2px;

}

div.signupHeaderContainer > h2{
    color: #606770;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 100;
    margin: 0;
}

div.signupFormContainer{
    width: 400px;
    height:100%;
    padding: 16px;
}

form#signup{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    height:100%;
}

form#signup input:focus{
    outline:  none;
}

form#signup input:active{
    background-color: white;
}

div.nameContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

div.firstNameContainer{
    width: 48.5%;
    height: 40px;
}

div.firstNameContainer > input{
    width: 100%;
    height: 100%;
    padding: 11px;
    border-radius: 5px;
    border: thin solid rgba(0, 0, 0, 0.2);
    color: #1c1e21;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
}

div.lastNameContainer{
    width: 48.5%;
    height: 40px;
}

div.lastNameContainer > input{
    width: 100%;
    height: 100%;
    padding: 11px;
    border-radius: 5px;
    border: thin solid rgba(0, 0, 0, 0.2);
    color: #1c1e21;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
}

div.newEmailContainer{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}

div.newEmailContainer > input{
    width: 100%;
    height: 100%;
    padding: 11px;
    border-radius: 5px;
    border: thin solid rgba(0, 0, 0, 0.2);
    color: #1c1e21;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
}

div.newPasswordContainer{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}

div.newPasswordContainer > input{
    width: 100%;
    height: 100%;
    padding: 11px;
    border-radius: 5px;
    border: thin solid rgba(0, 0, 0, 0.2);
    color: #1c1e21;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
}

label {
    align-self: flex-start;
}

div.birthdayContainer{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

div.birthdayContainer > select{
    width: 31.5%;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    border: thin solid rgba(0, 0, 0, 0.2);
    color: #1c1e21;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
}

div.genderContainer{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

div.genderContainer > label{
    width: 26%;
    height: 45%;
    padding: 11px;
    border-radius: 5px;
    border: thin solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1c1e21;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
}

div.genderContainer input{
    margin: 0;
    width: 20px;
    color: #1c1e21;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
}

div.signupContainer p {
    font-size: 11px;
    margin: 0;
    margin: 8px 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #606770;
}

div.signupContainer button {
    background-color:#00a400;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold!important;
    line-height: 36px;
    width: 195px;
    padding: 0 16px;
    margin: 15px 0;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    cursor: pointer;
}

div.signupContainer button:hover {
    background-color: #5f8e53;
}

div.signupContainer button:active {
    transform: translateY(2px);
}

div.customGenderFormContainer{
    display: block;
    flex-flow: column wrap;
    height: 100%;
    width: 100%;
}

div.customGenderFormContainer > select {
    width: 100%;
    height: 40px;
    padding: 0 25px 0 8px;
    margin: 4px 0;
    border-radius: 4px;
    color: #1c1e21;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
    border: thin solid rgba(0, 0, 0, 0.2);
    color: #1c1e21;
}

div.customGenderFormContainer > label {
    color: #606770;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

div.customGenderFormContainer > input {
    width: 100%;
    height: 40px;
    padding: 11px;
    border-radius: 4px;
    color: #1c1e21;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
    border: thin solid rgba(0, 0, 0, 0.2);
    color: #1c1e21;
}

form#signup > ul{
    list-style: none;
    width: 100%;
    color: red;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    padding-left:2px;
    margin-top: 0;
}