.developer-links {
    margin-bottom: 15px;
    border-radius: 8px;
    padding:20px;
    box-shadow: 0px 0px 20px 10px #1b75e43c;
    background-color: #ffffff;
    height: 250px;
    width: 20%;
    /* border: 1px solid red; */
    position: fixed;
    left: 50px;
  }

    .developer-links h2 {
    color: black;
    font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
    padding: 0;
    font-weight: bold;
    /* border: 1px solid red; */
}

  .developer-links a {
    color: black;
    text-decoration: none;
    font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 0px 5px 0px #1b75e43c;
    /* border: 1px solid red; */
  }

  .developer-links a:hover {
    background-color: #1b75e43c;
  }

  .developer-links a:active {
    background-color: #1b75e47d;
  }
  
  .developer-links i {
    transform: scale(2);
    margin-right: 30px;
  }
  
  /* Adjust the size and color of the icons if needed */
  .developer-links .fa-linkedin {
    color: #0077b5;
  }
  
  .developer-links .fa-github {
    color: #333;
  }
  