  p#comment-like{
    cursor: pointer;
    margin: 0px 55px;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: grey;
    }

    p#comment-like.comment-liked{
      color: #0866ff;
    }

    p#comment-like:hover{
    text-decoration: underline;
    }
  
    div.comment-like-icon {
      position: absolute;
      right: -20px;
      bottom: -10px;;
      cursor: pointer;
    }

    div.comment-like-icon:hover > div{  
      display: flex;
   }

  div.comment-likes-list {
    position: absolute;
    z-index: 1;
    height: auto;
    width: 200px;
    left: 15px;
    border-radius: 8px;
    background-color: #020202b2;
    font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 5px;
    display:none;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, .1)
  }

  div.comment-likes-list ul {
    width: 100%;
    background-color: #02020200;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  div.comment-likes-list li {
    width: fit-content;
    background-color: #02020200;
    color: rgb(255, 255, 255);
    padding:2px 0px;
    margin: 0;
  }