div.like-bar-container {
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    border-TOP: 1px solid rgba(128, 128, 128, 0.5);
    padding: 5px 0px;
    margin: 5px 0px;
    display: flex;
    flex-flow: row nowrap;
  }

  div.like-button {
    /* border: 1px solid red; */
    border: 0px;
    width: 50%;  }

  div.comment-button-focus {
    /* border: 1px solid red; */
    border: 0px;
    width: 50%;
  }

  div.like-button > button {
    border: 0px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background-color: white;
    font-size: 15px;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    font-weight: 500;
    cursor: pointer;
  }

  div.like-button > button:hover {
    background-color: #f2f2f2;
  }

  div.like-button > button:active {
    background-color: #e5e5e5;
    transform: scale(.98);
  }

  div.comment-button-focus > button {
    border: 0px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background-color: white;
    font-size: 15px;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    font-weight: 500;
    cursor: pointer;
  }

  div.comment-button-focus > button:hover {
    background-color: #f2f2f2;
  }

  div.comment-button-focus > button:active {
    background-color: #e5e5e5;
    transform: scale(.98);
  }

  #thumbs-up{
    transform: scale(1.1);
    margin-right: 5px;
  }

  #comment-icon{
    transform: scale(1.2);
    margin-right: 5px;
  }

  #liked {
    height: 20px;
    width: 20px;
    margin-right: 5px;
  }

  div.post-likes {
    position:relative;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    cursor: pointer;
  }

  div.likes-list {
    position: absolute;
    z-index: 1;
    height: auto;
    width: 200px;
    left: 15px;
    border-radius: 8px;
    background-color: #020202b2;
    font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 5px;
    display:none;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, .1)
  }

  div.likes-list ul {
    width: 100%;
    background-color: #02020200;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  div.likes-list li {
    width: fit-content;
    background-color: #02020200;
    color: rgb(255, 255, 255);
    padding:2px 0px;
    margin: 0;
  }


  div.post-likes:hover + div.likes-list {
    display:flex;
  }
