.friends-req-button-container {
    background-color: #ffffff;
    border-radius: 8px;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 0 10px;
    position: relative;
    cursor: pointer;
    margin: 10px; 
}

.friends-req-button-container button {
    background: inherit;
    color:#005fc6;
    padding: 0;
    border: none;
    font-family: "Segoe UI Historic","Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    height: 50px;
    border-radius: 8px;
}

.friends-req-button-container :hover {
    background-color: #f2f2f2;
  }

.friends-req-button-container :active {
    transform: scale(.95);
    background-color: #dde9ff;
}