.friends-container {
    background-color: #0866ff;
    border-radius: 8px;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 0 10px;
    position: relative;
    cursor: pointer;
}

.friends-container button {
    background: inherit;
    color:white;
    padding: 0;
    border: none;
    font-family: "Segoe UI Historic","Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;


}

.friends-container:hover {
    background-color: #075ce5;
  }

.friends-container:active {
    transform: scale(.95);
}