.profile-friends-container * {
    text-decoration: none;
}

.profile-friends-container {
    margin-bottom: 15px;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}


div.friends-component-container {
     
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;  
}


div.friend {
    width: calc(32.5%);  
    height: 150px;
    margin-bottom: 5px;
    padding: 5px;
}

ul.friend {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;  
    margin: 0;
    padding: 0px 0px 0px 15px;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

div.friend li {
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

div.friend img {
    width: 100%;
    height: 110px;
    object-fit: cover;
    border-radius: 10px;
}

div.friend h5 {
    color: black;
    font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-align: center;
}

div.friends-component-container-full-width div.friend {
    width: calc(19% - 10px);
    justify-content: flex-start;
    margin: 5px;
}

div.friends-component-container-full-width * {
    text-decoration: none;
}

div.friends-component-container-full-width ul.friend {
    justify-content: flex-start;
    width: 98.5%;
}

div.friends-component-container-full-width li {
    justify-content: flex-start;
     
}