.profile-photos-container{
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    padding:20px;
}

.profile-photos{
    width: 100px;
    height: 100px;
    object-fit: cover;
    float: left;
    margin: 14px;
    border-radius: 10px;

}

.profile-photos-tab{
    width: 322px;
    height: 320px;
    object-fit: cover;
    float: left;
    margin: 10px;
    border-radius: 10px;
    padding: 0px;
}