.profile-header{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 70vh;
    width: 100vw;
    box-shadow: 0px 0px 0px 3px #dfe1e4;
    margin-bottom: 3px;
}

.cover-photo-container{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(#173855ba, white);
    height: 70%;
    margin-bottom: 20px; 
    /* just added the above */
    width: 100%;
    position:relative;
}

div.upload-cover-photo{
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    bottom: 25px;
    right: 19%;
    padding: 10px;
    background-color: #0808086e;
    border-radius: 8px;
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "Segoe UI Historic","Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: white;
    font-weight: 900;
}

div.upload-cover-photo:hover{
    background-color: #080808ac;
}

div.upload-cover-photo:active{
    transform: scale(.95);
}

div.cover-photo-icon{
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yo/r/HavLioY1LSC.png);
    background-position: 0px -248px;
    background-size: 33px 554px;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 20px;
    transform: scale(1.5);
    filter: invert(1);
}

form.cover-form > input#cover {
    opacity: 0;
    position:absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    cursor: pointer;
}

.cover-photo-container > img{
    height: 450px;
    width: 1250px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.profile-details-container{
    width: 60%;
    height: 25%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: #f0f2f500;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.343);
}

.left-profile-details{
    width: 75%;
    display: flex;
    background-color: #ffffff00;
}

.profile-photo-container {
    position: relative;
    background-color: rgba(255, 255, 255, 0);
}

.profile-photo-container > img {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    outline: 4px solid white;
    bottom: 0;
}

.profile-photo-container > div {
    position: absolute;
    bottom: 30px;
    left: 160px;
    padding:15px 15px 10px 15px;
    border-radius: 100px;
    background-color: #e4e6eb;
    cursor: pointer;
}

.profile-photo-container > div:hover{
    background-color: #d0d0d4;
}

.profile-photo-container > div:active{
    transform: scale(.95);
}

div.profile-photo-icon{
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yo/r/HavLioY1LSC.png);
    background-position: 0px -248px;
    background-size: 33px 554px;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    display: inline-block;
    transform: scale(2);
    filter: opacity(.5);
    filter: invert(.2);
}

form.upload-form > input#avatar {
    opacity: 0;
    position: absolute;
    width: 25px;
    height: 25px;
    right: -4px;
    top:-4px;
    border-radius: 50px;
    cursor: pointer;
}

.profile-name-container{
    display: flex;
    flex-flow: column nowrap;
    justify-items: flex-end;
    margin-left: 220px;
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;

}

.profile-name-container > h1 {
    margin: 0px;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 32px;
    background-color: rgba(255, 255, 255, 0);
}

.profile-name-container > #friend-count {
    text-decoration: none;
    margin: 0px;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #656768;
    background-color: rgba(255, 255, 255, 0);
}

.profile-name-container > #friend-count:hover {
    text-decoration: underline;
}

.profile-links {
    display: flex;
    width: 60%;
    height: 10%;
    flex-direction: row nowrap;
    justify-content: flex-start;
    margin: 15px 15px 2px 15px;
    background-color: rgba(255, 255, 255, 0);
}

.profile-links > * {
    width:8%;
    height: 100%;
    text-decoration: none;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: bolder;
    color: #656768;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right:5px;
}

.profile-links > *:hover {
    background-color: #f2f2f2;
  }

.profile-links > *:active {
background-color: #e5e5e5;

}

.active-profile-link {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 3px solid #1b74e4;
}
