.profile-header{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 70vh;
    width: 100vw;
    box-shadow: 0px 0px 0px 3px #dfe1e4;
    margin-bottom: 3px;
}

.cover-photo-container{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgb(134, 124, 124), white);
    height: 70%;
    width: 100%;
}

.cover-photo-container > img{
    height: 450px;
    width: 1250px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.profile-details-container{
    width: 60%;
    height: 25%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: #f0f2f500;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.343);
}

.left-profile-details{
    width: 50%;
    display: flex;
    background-color: #ffffff00;
}

.edit-profile-container {
    background-color: #e4e6eb;
    border-radius: 8px;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    position: relative;
}

.edit-profile-container button{
    background: inherit;
    border: none;
    font-family: "Segoe UI Historic","Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    padding-left: 25px;
}

.edit-profile-container:hover {
    background-color: #d8d9dc;
  }

.edit-profile-container:active {
    transform: scale(.95);
}

.edit-icon{
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yZ/r/n2RR8_RffR8.png);
    background-position: 0px -530px;
    background-size: 26px 1026px;
    transform: scale(.8);
    width: 20px;
    height: 25px;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 8px
  }

.profile-photo-container {
    position: relative;
    background-color: rgba(255, 255, 255, 0);
}

.profile-photo-container > img {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 3px solid white;
    bottom: 0;
}

.profile-name-container{
    display: flex;
    flex-flow: column nowrap;
    justify-items: flex-end;
    margin-left: 220px;
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, 0);

}

.profile-name-container > h1 {
    margin: 0px;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 32px;
    background-color: rgba(255, 255, 255, 0);
}

.profile-name-container > #friend-count {
    text-decoration: none;
    margin: 0px;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #656768;
    background-color: rgba(255, 255, 255, 0);
}

.profile-links {
    display: flex;
    width: 60%;
    height: 10%;
    flex-direction: row nowrap;
    justify-content: flex-start;
    margin: 15px 15px 2px 15px;
    background-color: rgba(255, 255, 255, 0);
}

.profile-links > * {
    width:8%;
    height: 100%;
    text-decoration: none;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: bolder;
    color: #656768;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right:5px;
}

.profile-links > *:hover {
    background-color: #f2f2f2;
  }

.profile-links > *:active {
background-color: #e5e5e5;

}

.active-profile-link {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 3px solid #1b74e4;
}

