div.profile-about-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

div.profile-about-container > div.intro-container{
    width: 60%;
}

@media (max-width: 960px) {
    div.profile-about-container > div.intro-container{
        width: 80%;
    }
}