.profile-main-container{
    width: 100%;
    height:1000px;
    background-color: #f0f2f5;
    /* border: 1px solid red; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding-top: 10px;
}

.profile-left-container {
    width: 25%;
    /* border: 1px solid red; */
    padding: 5px;
}

.profile-right-container {
    width: 35%;
    /* border: 1px solid red; */
    padding: 5px;
}

.profile-bio-container {
    /* border: 1px solid red; */
    margin-bottom: 15px;
    border-radius: 8px;
    padding:10px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.profile-friends-container {
    /* border: 1px solid red; */
    margin-bottom: 15px;
    border-radius: 8px;
    padding:10px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.profile-photos-container {
    /* border: 1px solid red; */
    margin-bottom: 15px;
    border-radius: 8px;
    padding:10px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.profile-posts-container > * {
    margin-bottom: 15px;
}

.profile-posts-container ul{
    margin: 0;
    padding: 0;
}

.profile-posts-container li{
    list-style: none;
    /* border: 1px solid red; */
    margin: 15px 0;
    border-radius: 8px;
    padding:10px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.create-profile-post{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    padding:10px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    /* border: 1px solid red; */
    height: 40px;
    background-color: #ffffff;
    
}

.create-profile-post > button{
    border: none;
    /* border: 1px solid red; */
    width: 90%;
    height: 100%; 
    border-radius: 20px;
    background-color: #f0f2f5;
    text-align: left;
    padding-left: 20px;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #656768;
}

.create-profile-post > button:hover {
    background-color: #e4e6e8;
  }

.create-profile-post > button:active {
    background-color: #d8d9dc;
}