img#userLogo {
  width: 40px;
  height: 40px;
}

img#userLogo:hover {
  cursor: pointer;
  transform: translateY(-1px);
}

.nav-bar-dropdown{
  border: none;
  border-radius: 10px;
  padding: 20px 10px;
  width: 300px;
  height: 100px;
  box-shadow: 8px 8px 40px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  display:flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  background-color: #f8f8f8;
}
.nav-bar-dropdown *{
 background-color: inherit;
}

.profile-link {
  border-radius: 8px;
  width: 90%;
  height: 50%;
  padding: 10px 0;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-link:hover {
  background-color: #f2f2f2;
}

.profile-link:active {
  background-color: #e5e5e5;
}

#profile-link {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar-dropdown h1{
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: black;
}

.logout-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 50%;
  border-radius: 8px;
  padding: 10px 0;
}

.logout-icon{
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yZ/r/n2RR8_RffR8.png);
  background-position: 0px -400px;
  background-size: 26px 1026px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}

.logout-container button{
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  border: none;
  padding-bottom: 6px;
  cursor: pointer;
}

.logout-container:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.logout-container:active {
  background-color: #e5e5e5;
}

