div.navBarContainer {
  position:fixed;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  background-color: rgb(255, 255, 255);
}

div.leftNavBarContainer {
  margin-left: 10px;
  width: 33%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

div.leftNavBarContainer > nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

input#userSearch{
  width: 90%;
  height: 35px;
  border-radius: 20px;
  margin-left: 5px;
  background-color: #f0f2f5;
  border: none;
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 0 0 2px 35px;
}

input#userSearch:focus{
  outline: none;
}

img#fbLogo {
  width: 35px;
  height: 35px;
}

#magnify-icon{
  color: rgb(102, 99, 99);
  position: absolute;
  top: 17px;
  left: 65px;
  background:none;
}

div.centerNavBarContainer{
  width: 33%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
}

.centerNavBarContent{
  width: 30%;
  height: 80%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.centerNavBarContent:hover {
  background-color: #f2f2f2;
}

.centerNavBarContent:active {
  background-color: #e5e5e5;
}

div#underline{
  width: 30%;
  border: 1px solid #0766ff;
}

#homepage-icon {
  width: 40px;
  height: 40px;
  padding: 2px 75px;
}

#inactive-homepage-icon{
  color: #65676b76;
  width: 40px;
  height: 40px;
  padding: 2px 75px;
  margin-bottom: 2px;
}

div.rightNavBarContainer{
  margin-right: 10px;
  width: 33%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  }

div.rightNavBarContainer > nav{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  width: 100%;
}

